{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <ul class="govuk-list">
      <li><a class="govuk-link" href="view-delivery-groups">Defra Group services prototype with group/service drilldown (v0.2)</a></li>
      <li><a class="govuk-link" href="list-delivery">Defra Group services prototype (v0.1)</a></li>
    </ul>

  </div>
</div>

{% endblock %}
