{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1>Services for Delivery Group: {{ group }}</h1>
    <ul>
       {% for service in services %}
         <li>
           <a href="/view-service/{{ loop.index0 + groupIndex }}">{{ service['User facing name'] }}</a>
           - {{ service['Type'] }} provided by {{ service['Provider'] }}
         </li>
       {% endfor %}
    </ul>
    <a href="/list-delivery">Back to Delivery Groups</a>
    
  </div>
</div>

{% endblock %}
