{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <header role="banner" class="site-header">
    <a href="/">Defra Group Products and Services</a>
    </header>


    <h1 class="govuk-heading-l">Defra Services</h1>

    <ul class="govuk-list">
       {% for group in deliveryGroups %}
         <li><a href="/list-service/{{ loop.index0 }}">{{ group }}</a></li>
       {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
