{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set pageName = serviceData[serviceId]['useCase'] %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <header role="banner" class="site-header">
    <a href="/">Defra Group Products and Services</a>
    </header>


   <h1 class="govuk-heading-l">{{ serviceData[serviceId]['useCase'] }}</h1>

   <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Description
       </dt>
       <dd class="govuk-summary-list__value">
         {{ serviceData[serviceId]['description'] }}
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Users
       </dt>
       <dd class="govuk-summary-list__value">
         <ul class="govuk-list govuk-list--bullet">
         {% for artefact in serviceData[serviceId]['inputArtefact'] %}
          <li><a href="{{ artefact['url'] }}">{{ artefact['name'] }}</a></li>
          {% endfor %}
         </ul>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Input Artefacts
       </dt>
       <dd class="govuk-summary-list__value">
         <ul class="govuk-list govuk-list--bullet">
              {% for artefact in serviceData[serviceId]['inputArtefact'] %}
              <li><a href="{{ artefact['url'] }}">{{ artefact['name'] }}</a></li>
              {% endfor %}
          </ul>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Means of Delivery
       </dt>
       <dd class="govuk-summary-list__value">
         <p class="govuk-body">{{ serviceData[serviceId]['meansOfDelivery'] | join(', ') }}</p>
       </dd>
     </div>
     <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider/Owner
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ serviceData[serviceId]['providerOwner'] }}</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Output Artefacts
         </dt>
         <dd class="govuk-summary-list__value">
           <ul class="govuk-list govuk-list--bullet">
                {% for artefact in serviceData[serviceId]['outputArtefact'] %}
                <li><a href="{{ artefact['url'] }}">{{ artefact['name'] }}</a></li>
                {% endfor %}
            </ul>
         </dd>
       </div>
   </dl>

   <p style="margin-top: 20px"><a href="/services">Back to all services</a></p>

  </div>
</div>

{% endblock %}
