{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1>{{ service['User facing name'] }}</h1>
    
    <p><strong>Type:</strong> {{ service['Type'] }}</p>
    <p><strong>Provider:</strong> {{ service['Provider'] }}</p>
    <p><strong>User Groups:</strong> {{ service['User groups'] }}</p>
    <p><strong>Enables the user to:</strong> {{ service['Enables the user to'] }}</p>
    <p><strong>Policy Outcome:</strong> {{ service['Policy outcome'] }}</p>
    <p><strong>Volume of users:</strong> {{ service['Volume of users'] }}</p>
    <p><strong>User location:</strong> {{ service['User location'] }}</p>
    <p><strong>Owner:</strong> {{ service['Owner'] }}</p>
    <p><strong>Links:</strong> <a href="{{ service['Links'] }}" target="_blank">{{ service['Links'] }}</a></p>
    
    <a href="/list-service/{{ serviceIndex }}">Back to Service List</a>
    
  </div>
</div>

{% endblock %}
