{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    
    <h1 class="govuk-heading-l">{{ service['User facing name'] }}</h1>
        
    <dl class="govuk-summary-list">
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Type'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Provider'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            User Groups
          </dt>
          <dd class="govuk-summary-list__value">
             
            {% set userlist = service['User groups'] | split('; ') %}
            
            <ul class="govuk-list govuk-list--bullet">
              {% for userlistitem in userlist %}
                <li>{{ userlistitem }}</li>
              {% endfor %}
            </ul>
            
            <!--{{ service['User groups'] }}-->
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Enables the user to
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Enables the user to'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Policy Outcome
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Policy outcome'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Volume of users
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Volume of users'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            User location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['User location'] }}
          </dd>
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owner
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Owner'] }}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inputs
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Inputs'] }}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outputs
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Outputs'] }}
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Platform
          </dt>
          <dd class="govuk-summary-list__value">
            {% set platformlist = service['Platform'] | split('; ') %}
            
            <ul class="govuk-list govuk-list--bullet">
              {% for platformlistitem in platformlist %}
                <li>{{ platformlistitem }}</li>
              {% endfor %}
            </ul>
            <!--{{ service['Platform'] }}-->
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost
          </dt>
          <dd class="govuk-summary-list__value">
            {{ service['Cost'] }}
          </dd>
        </div> 
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Links
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="{{ service['Links'] }}" target="_blank">{{ service['Links'] }}</a>
          </dd>
        </div>
      
      </dl>
    
    <a href="/list-service/{{ groupIndex }}">Back to Service List</a>
    
  </div>
</div>

{% endblock %}
