{% extends "layouts/main.html" %}

{% set pageName="Service Groups for " + selectedDeliveryGroup %}

{% block content %}

<style>


</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="breadcrumbs govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a href="/view-delivery-groups">Delivery Groups</a></li>
      </ol>
    </nav>

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <h2 class="govuk-heading-s">Card view list of all products and services in the {{ selectedDeliveryGroup }} group</h2>
       <ul class="govuk-list">
         {% for group in serviceGroupCounts %}
           {% if group.serviceGroup != "Moving goods into Great Britain;Moving goods out of Great Britain" %}
             <li><a href="/view-services/{{ deliveryGroupIndex }}/{{ loop.index0 }}">{{ group.serviceGroup }}</a> ({{ group.serviceCount }} products/services)</li>
           {% endif %}
         {% endfor %}
       </ul>

    <h2 class="govuk-heading-s">Step by step views</h2>
       <ul class="govuk-list">
          {% for group in serviceGroupCounts %}
            {% if group.serviceGroup != "Moving goods into Great Britain;Moving goods out of Great Britain" %}
              <li><a href="/view-services-in-order/{{ deliveryGroupIndex }}/{{ loop.index0 }}">{{ group.serviceGroup }}: step by step</a></li>
            {% endif %}
          {% endfor %}
       </ul>


  </div>
</div>


{% endblock %}
